@use "../../styles/base/variables" as *;
@use "../../styles/utils/mixins.scss" as *;

header {
  background: $background-gradient;
  color: $primary-color;
  font-family: $font-family;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  position: relative;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;

    h1 {
      font-size: 1.5vw;
      font-weight: 700;

      @media (max-width: 1080px) {
        font-size: 4vw;
      }

      @media (max-width: 768px) {
        font-size: 5.5vw;
      }
    }

    img {
      @media (max-width: 1080px) {
        width: 9vw;
      }

      @media (max-width: 768px) {
        width: 13vw;
      }
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    width: 32vw;

    .nav-link {
      text-decoration: none;
      color: $primary-color;
      font-size: 1.5vw;

      &.active {
        border-bottom: 0.1vw solid $primary-color;
        font-weight: bold;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.3),
          -0.2vw -0.2vw 0.4vw rgba(0, 123, 255, 0.3);
      }

      @include border-bottom-to-right(0.6s, 0.2vw, $primary-color);
    }
  }

  .input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid $primary-color;
    border-radius: 1.5vw;
    width: 15vw;
    height: 5vh;

    input {
      font-size: 1vw;
      color: $primary-color;
      background-color: transparent;
      border: none;
      outline: none;

      &::placeholder {
        color: $primary-color;
      }
    }
  }

  .menu-toggle {
    display: none;
    font-size: 6.5vw;
    color: $primary-color;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5vw;
  }

  @media (max-width: 1080px) {
    .menu-toggle {
      display: block;
    }

    .nav-container {
      display: none;
      position: absolute;
      top: 15vh;
      right: 0;
      background: $background-gradient;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 5vw 0;

      &.open {
        display: flex;
      }

      .nav-link {
        padding: 2vw;
        font-size: 4vw;
      }
    }

    .title-container {
      margin-right: 10vw;
      width: 75%;
    }

    .input-btn {
      display: none;
    }
  }
}
