@use "../../styles/base/variables" as *;

footer {
  font-family: $font-family;
  display: flex;
  flex-direction: column;

  .contact-container {
    background-color: $tertiary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;

    @media (max-width: 1080px) {
      height: 7vh;
    }

    @media (max-width: 768px) {
      padding: 2vw 0;
      flex-direction: column;
      height: 14vh;
    }

    p {
      font-size: 1.8vw;
      color: $primary-color;
      margin-left: 5vw;

      @media (max-width: 1080px) {
        font-size: 3vw;
      }

      @media (max-width: 768px) {
        font-size: 5.5vw;
      }

      @media (max-width: 485px) {
        font-size: 6.5vw;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 20vw;
      margin-right: 5vw;

      @media (max-width: 768px) {
        justify-content: space-evenly;
        width: 60%;
      }

      .icons-contact {
        color: $primary-color;
        font-size: 2vw;

        @media (max-width: 1080px) {
          font-size: 3vw;
        }

        @media (max-width: 768px) {
          font-size: 5.5vw;
        }

        @media (max-width: 485px) {
          font-size: 7vw;
        }
      }
    }
  }

  .text-content {
    background-color: $secondary-color;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;

    @media (max-width: 1080px) {
      font-size: 2vw;
    }

    @media (max-width: 768px) {
      text-align: center;
      font-size: 3vw;
      height: 9.5vh;
    }

    @media (max-width: 485px) {
      font-size: 4vw;
    }
  }
}
