$background-gradient: linear-gradient(90deg, #001b2f 0%, #005695 100%);
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #005695;
$quaternary-color: #0157944d;
$font-family: "inter", sans-serif;
